body {
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h2,
h4 {
   margin-top: 15px;
}

.container-fluid {
   background-color: whitesmoke;
   width: 90%;
   margin: 50px auto auto auto;
   padding: .3rem 0px;
   box-shadow: 5px 55px 50px -20px #b6b6b6;
}

/*********************************************
    /**         LANDING PAGE START              **/
/*********************************************/
.underConstruction {
   width: 200px;
   height: 200px;
}
