body {
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h2,
h4 {
   margin-top: 15px;
}
.navbar-dark .navbar-nav .nav-link {
   color: white;
}

nav-link {
   color: black;
}
.navbar {
   padding: .2rem 1rem;
}
#navbarBrand img {
   height: 32px;
   width: 32px;
}
.container-fluid {
   background-color: whitesmoke;
   width: 90%;
   margin: .3rem auto .3rem auto;
   padding: 5px 0px;
   box-shadow: 2.5px 2px 2px 2.5px #c9c7c7;
}

/*********************************************
/**         LANDING PAGE START              **/
/*********************************************/

.landing-container {
   Background-color: white;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   width: 100%;
   margin: 30px auto 30px auto;
   padding: 5px 150px 30px 150px;
}
/*********************************************
 /**         LANDING PAGE START              **/
/*********************************************/

.card {
   margin: 7px 5px;
   height: 195px;
   width: 195px;
   border: None;
   box-shadow: 2.5px 2px 2px 2.5px #c9c7c7;
   background-color: white;
   vertical-align: middle;
   Padding: 0px 1px;
}

img {
   height: 150px;
   width: 150px;
   margin: 3px auto;
}

.landing-container a {
   color: black;
}

.card:hover {
   box-shadow: 0 5px 10px 0 rgba(49, 48, 49, 0.486);
}

a.btn:hover {
   background-color: #41474d;
}

/*********************************************
 /**           Table                        **/
/*********************************************/

table {
   box-shadow: 10px 10px 5px #aaaaaa;
   background-color: rgb(180, 214, 211);
   border-collapse: separate;
   border-spacing: 2px;
}

.table {
   margin: auto;
   width: 50%;
}

.table thead th {
   font-size: 150%;
   padding: 10px 10px;
   color: darkgray;
}

.table tbody td {
   font-family: Arial, Helvetica, sans-serif;
   padding: 5px 5px;
   font-size: 90%;
}

#total {
   font-size: 1.5em;
}

@media only screen and (max-width: 900px) {
   .landing-container {
      padding-left: 5px;
      padding-right: 5px;
   }
}

/***********************************************
         RESPONSIVE RESIZING
 ***********************************************/
@media only screen and (max-width: 800px) {
   .container-fluid,
   .table {
      width: 95%;
   }

   #title {
      font-size: 2em;
   }

   .table thead th {
      font-size: 120%;
   }

   .card {
      margin: 7px 5px;
   }
}

@media only screen and (max-width: 600px) {
   .container-fluid {
      width: 98%;
      padding: 20px 2px;
   }

   .row {
      width: 85%;
   }

   .table {
      width: 100%;
      margin: 0px;
   }

   .table thead th {
      font-size: 105%;
   }

   .table tbody td {
      font-size: 80%;
   }
}

@media only screen and (max-width: 560px) {
   h5 {
      font-size: 1rem;
   }

   .table tbody td {
      font-size: 75%;
   }
}

@media only screen and (max-width: 470px) {
   .card {
      height: 190px;
      width: 180px;
   }

   img {
      height: 160px;
      width: 165px;
   }
}

@media only screen and (max-width: 400px) {
   .table tbody td {
      font-size: 65%;
   }

   .row {
      width: 95%;
   }
}

@media only screen and (max-width: 380px) {
   .card {
      height: 140px;
      width: 140px;
   }

   img {
      height: 110px;
      width: 110px;
   }
}

@media only screen and (max-width: 375px) {
   .table tbody td {
      font-size: 55%;
   }
}

@media only screen and (max-width: 350px) {
   .card {
      height: 130px;
      width: 130px;
   }

   img {
      height: 90px;
      width: 90px;
   }

   h5 {
      font-size: .9rem;
   }
}
